NODE_ENV=development
PORT=3000
API_PREFIX=api
API_VERSION=v1

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=chit_app
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES=30d

SWAGGER_ENABLED=true
